@font-face {
    font-family: streetwear;
    src: url(../plugins/font/Streetwear.otf);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../plugins/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../plugins/font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../plugins/font/OpenSans-SemiBold.ttf);
}
.OpenSansBold{
    font-family: OpenSansBold;
}
.OpenSansRegular{
    font-family: OpenSansRegular;
}
.OpenSansSemiBold{
    font-family: OpenSansSemiBold;
}
.left-side{
    background-color: #212224;
    padding: 30px 15px 60px 15px;
    z-index: 1;
}
.right-side{
    background-color: #393c40;
    padding: 30px 15px 60px 15px;
}
.navbar-brand{
    font-family: streetwear;
    color:#fff;
}
.carousel-indicators li{
    background-color: #fff;
}
.carousel-indicators .active{
    background-color: transparent;
    border:2px solid #fff;
}
#login-carousel{
    margin-top:24px;
}
.carousel-header{
    font-family: OpenSansBold;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top:20px;
}
.carousel-description{
    font-family: OpenSansRegular;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
}
.carousel .carousel-indicators li{
    width:20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.carousel-indicators{
    bottom: -40px;
}


.login-btn-group button{
    border-radius: 100px;
    background: #202020;
}
button.blue-btn{
    background: #0082d5;
    letter-spacing: 1px;
}
.btn{
    font-family: OpenSansSemiBold;
    font-size: 18px;
    text-transform: none;
}
.btn-group-cont{
    overflow: hidden;
}
.auth-form-cont{
    font-family: OpenSansRegular;
}
.auth-form-cont h4{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.auth-form-cont input{
    padding:38px 0;
    color: #75777a;
    background: transparent !important;
    border-radius: 0;
    border: none;
    letter-spacing: 2px;
    border-bottom: 1px solid #75777a;
    transition: all 0.5s ease;
    width: 72%;
}
.auth-form-cont input:focus{
    box-shadow: none;
    background: transparent;
    border-color: #75777a;
    color: #c7d2d9;
}
.auth-form-cont button{
    border-radius: 100px;
    margin-top:100px;
    padding: 16px 106px;
}
.hide-form{
    display: none;
}
.alert-error{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 15px;
}
.alert-error:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
@media(min-width:1723px){
    .auth-form-cont button{
        margin-top: 150px;
    }
}
@media(min-width:1680px){
    .top-content{
        height: 100vh;
    }
    #login-carousel{
        margin: 0;
    }
    .carousel-content{
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .carousel-content .carousel-indicators{
        bottom: -30px;
    }
}
@media(min-width:1440px){
    #login-carousel{
        padding: 0 100px;
    }
    .auth-form-cont input{
        width:79%;
    }
    .carousel-header{
        margin-top:112px;
    }
    .carousel-description{
        margin-top: 46px;
    }
    .auth-form-cont h4{
        font-size: 30px;
    }

}

@media(min-width:991px){
    .auth-form-cont{
        padding: 0 0 0 85px;
    }
}
@media(min-width:450px){
    .navbar-brand{
        font-size: 30px;
    }
}
@media(max-width:576px){
    .btn{
        font-size: 14px;
    }
}